#Ignore these folders
minecraft/config/*
minecraft/crash-reports/*
minecraft/journeymap/*
minecraft/local/*
minecraft/logs/*
minecraft/mod*/*
minecraft/resourcepacks/*
minecraft/saves/*
minecraft/schematics/*
minecraft/screenshots/*
minecraft/Xaero*/*
natives/*
server/backups/*
server/config/*
server/crash-reports/*
server/journeymap/*
server/libraries/*
server/local/*
server/logs/*
server/mod*/*
server/resourcepacks/*
server/saves/*
server/screenshots/*
server/Xaero*/*
server/mods/*
server/world*/*

#Ignore these files
*.tgz
instance.cfg
mmc-pack.json
build/create-potato-*.zip
minecraft/.mixin.out/*
minecraft/backups/*
minecraft/BotaniaVars.dat
minecraft/optionsof.txt
minecraft/config/jei/*.ini
minecraft/instance.cfg
minecraft/knownkeys.txt
minecraft/mmc-pack.json
minecraft/options.txt
minecraft/patchouli_data.json
minecraft/servers.dat*
minecraft/realms_persistence.json
minecraft/reauth.toml
minecraft/usercache.json
minecraft/usernamecache.json
minecraft/openloader/.cache
server/*.jar
server/*.zip
server/1.16.5.json
server/auto_restart/restart
server/banned-ips.json
server/banned-players.json
server/config/jei/*.ini
server/eula.txt
server/forge-1.16.5-36.0.14.jar
server/minecraft_server.1.16.5.jar
server/mods
server/.mixin.out/*
server/openloader/.cache
server/ops.json
server/usercache.json
server/usernamecache.json
server/whitelist.json


#Stop Ignoring these folders
!minecraft/config/brandon3055
!minecraft/config/defaultoptions
!minecraft/config/fancymenu
!minecraft/config/ftbquests
!minecraft/config/jei
!minecraft/config/waterstrainer
!server/config/brandon3055
!server/config/ftbquests/
!server/config/jei
!server/config/waterstrainer

#Stop Ignoring these files
!minecraft/config/alexsmobs.toml
!minecraft/config/createaddition-common.toml
!minecraft/config/forge-client.toml
!minecraft/config/forge-common.toml
!minecraft/config/ftbchunks-client.toml
!minecraft/config/jei/blacklist.cfg
!minecraft/config/theoneprobe-client.toml
!minecraft/config/xaerominimap.txt

!server/config/alexsmobs.toml
!server/config/createaddition-common.toml
!server/config/forge-common.toml
!server/config/jei/blacklist.cfg
!server/config/theoneprobe-common.toml
