#Ignore these folders
minecraft/config/*
minecraft/local/*
minecraft/logs/*
minecraft/mods/*
minecraft/resourcepacks/*
minecraft/saves/*
minecraft/screenshots/*
minecraft/Xaero*/*
server/config/*
server/libraries/*
server/local/*
server/logs/*
server/mods/*
server/resourcepacks/*
server/saves/*
server/screenshots/*
server/Xaero*/*
server/mods/*
server/world*/*

#Ignore these files
instance.cfg
mmc-pack.json
build/create-potato-*.zip
minecraft/.mixin.out/*
minecraft/instance.cfg
minecraft/knownkeys.txt
minecraft/mmc-pack.json
minecraft/options.txt
minecraft/servers.dat*
minecraft/realms_persistence.json
minecraft/reauth.toml
minecraft/usercache.json
minecraft/usernamecache.json
server/1.16.5.json
server/banned-ips.json
server/banned-players.json
server/eula.txt
server/forge-1.16.5-36.0.14.jar
server/minecraft_server.1.16.5.jar
server/.mixin.out/*
server/ops.json
server/usercache.json
server/whitelist.json


#Stop Ignoring these folders
!minecraft/config/brandon3055
!minecraft/config/defaultoptions/
!minecraft/config/fancymenu
!server/config/brandon3055

#Stop Ignoring these files
!server/config/theoneprobe-client.toml
!server/config/theoneprobe-common.toml
!minecraft/config/xaerominimap.txt
