#Ignore these folders
minecraft/config/*
minecraft/crash-reports/*
minecraft/journeymap/*
minecraft/local/*
minecraft/logs/*
minecraft/mods/*
minecraft/resourcepacks/*
minecraft/saves/*
minecraft/screenshots/*
minecraft/Xaero*/*
natives/*
server/config/*
server/crash-reports/*
server/journeymap/*
server/libraries/*
server/local/*
server/logs/*
server/mods/*
server/resourcepacks/*
server/saves/*
server/screenshots/*
server/Xaero*/*
server/mods/*
server/world*/*

#Ignore these files
*.tgz
instance.cfg
mmc-pack.json
build/create-potato-*.zip
minecraft/.mixin.out/*
minecraft/backups/*
minecraft/instance.cfg
minecraft/knownkeys.txt
minecraft/mmc-pack.json
minecraft/options.txt
minecraft/servers.dat*
minecraft/realms_persistence.json
minecraft/reauth.toml
minecraft/usercache.json
minecraft/usernamecache.json
server/*.jar
server/1.16.5.json
server/banned-ips.json
server/banned-players.json
server/eula.txt
server/forge-1.16.5-36.0.14.jar
server/minecraft_server.1.16.5.jar
server/mods
server/.mixin.out/*
server/ops.json
server/usercache.json
server/usernamecache.json
server/whitelist.json


#Stop Ignoring these folders
!minecraft/config/brandon3055
!minecraft/config/defaultoptions
!minecraft/config/fancymenu
!minecraft/config/ftbquests
!server/config/brandon3055
!server/config/ftbquests/

#Stop Ignoring these files
!minecraft/config/forge-client.toml
!minecraft/config/forge-common.toml
!minecraft/config/ftbchunks-client.toml
!minecraft/config/theoneprobe-client.toml
!minecraft/config/xaerominimap.txt
!server/config/forge-common.toml
!server/config/theoneprobe-common.toml
